@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
body{
    font-family: 'Noto Serif', serif;
}
h1{
    color: dodgerblue;
}
.navegacao{
    background-color: lightskyblue;
    font-size: larger;
    overflow: hidden;
}
.navegacao a{
    float: left;
    padding: 15px 15px;
    text-decoration: none;
    color: white;
}
.navegacao a:hover{
    background-color: lightsteelblue;
    color: black;
}
.vaga{
    border: dodgerblue;
    border-style: solid;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 15px;
}
.vaga h2{
    color: dodgerblue;
    padding-left: 10px;
}
.vaga p{
    padding-left: 10px;
}
.vaga h4{
    padding-left: 10px;
    color: dodgerblue;
}
button{
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: larger;
}
#sucesso{
    color: green;
    font-size: small;
}